*{
    box-sizing: border-box;
}

body{
    font-family: "Times New Roman";
    font-size: 100%;
    color: black;
}

.header{
    background-color: gray;
    color: white;
    padding: 20px;
}

.footer{
    background-color: gray;
    font-size: 1%;
    padding: 5px;
}

a:link, a:visited{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:houver, a:active{
    background-color:red;
}

textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

.termo{
  text-align: left;
}